#valider
{
    margin-top: 10px; 
}

#motDePasse, #confMotDePasse
{
    width: 250px;
}

form
{
    display: table;
    margin-top: 10px;
}

.requis
{
    font: normal 8pt verdana, helvetica, sans-serif; 
    color: red;
}